<header class="header">
  <div class="logo">
    AliGen Store
  </div>

  <nav>
    <a href="/">الرئيسية</a>
    <a href="/collections/all">المنتجات</a>
    <a href="/pages/about">من نحن</a>
    <a href="/cart">السلة</a>
  </nav>
</header>